<%= render "layouts/jumbotron" %>
<div class="container" id="maincontent">
  <div class="row index-container">
    <div class="col col-lg-2">
      <%= render "restaurants", locals: {restaurants: @restaurants} %>
    </div>
    <div class="col col-lg-7">
      <%= render "menu", locals: {restaurant: @restaurant} %>
      <% puts "main view test r: #{@restaurant} " %>
    </div>
    <div class="col col-lg-2" id="summaryContainer" style="transform:scale(1.111);">
      <%= render "dashboard/summary", locals: {restaurant: @restaurant, catering_dishes: @catering_dishes} %>
    </div>
    <% if @catering_order.present? %>
      <%= hidden_field_tag 'catering_order_id', @catering_order.id %>
      <% if current_user.present? %>
        <%= hidden_field_tag 'catering_order_address', current_user.office_address %>
      <% else %>
        <%= hidden_field_tag 'catering_order_address', @catering_order.address %>
      <% end %>
    <% end %>
  </div>
</div>